<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    <form method=post>
        <p>Describe Your Video <input type="text" name="vidDes"/></p>
        <input type="submit"  value = "Generate Video">
    </form>
<br/>
    <h2> Here is your generated video </h2>
    <p>{{videoInfo}}</p>
</body>
<script>"gen.py"</script>
</html>